<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Home</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row light-bg" data-comp-id="row.1" style="padding: 0px;">
                <div class="col text-center " data-comp-id="column.1"
                    ng-class="item.selected ? 'positive-bg' : 'stable-bg'"
                    ng-click="app.action('tabs', 'data.tabs[item].action', this)"
                    ng-repeat="item in data.tabs"
                    style="margin: 0px; padding: 10px 15px; border-right: 1px solid rgb(221, 221, 221);">
                    <i class="icon {{item.icon}} light" data-comp-id="icon.1" ng-if="item.selected"
                        style="font-size: 20px; float: left;"></i>
                    <i class="icon {{item.icon}} calm" data-comp-id="icon.2" ng-if="!item.selected"
                        style="font-size: 20px; float: left;"></i>
                    <div class=" light" data-comp-id="text.1" ng-bind="item.name"
                        ng-if="item.selected" style="font-weight: normal;">Tab 1</div>
                    <div class=" calm" data-comp-id="text.2" ng-bind="item.name"
                        ng-if="!item.selected" style="font-weight: normal;">Tab 1</div>
                </div>
            </div>
        </div>
        <div class=" positive-bg" data-comp-id="div.2" ng-if="data.tabs[0].selected">
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <div class=" calm-bg" data-comp-id="div.3">
                        <div class=" text-center" data-comp-id="text.3"
                            style="font-weight: bold; font-size: 14px;">Request Type</div>
                        <div class=" text-center" data-comp-id="text.4">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.3">
                    <div class=" calm-bg" data-comp-id="div.4">
                        <div class=" text-center" data-comp-id="text.5"
                            style="font-weight: bold; font-size: 14px;">Area</div>
                        <div class=" text-center" data-comp-id="text.6">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.4">
                    <div class=" calm-bg" data-comp-id="div.5">
                        <div class=" text-center" data-comp-id="text.7"
                            style="font-weight: bold; font-size: 14px;">Shift</div>
                        <div class=" text-center" data-comp-id="text.8">Some text</div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.5">
                    <div class=" calm-bg" data-comp-id="div.6">
                        <div class=" text-center" data-comp-id="text.9"
                            style="font-weight: bold; font-size: 14px;">Route</div>
                        <div class=" text-center" data-comp-id="text.10">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.6">
                    <div class=" calm-bg" data-comp-id="div.7">
                        <div class=" text-center" data-comp-id="text.11"
                            style="font-weight: bold; font-size: 14px;">Boarding Time</div>
                        <div class=" text-center" data-comp-id="text.12">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.7">
                    <div class=" calm-bg" data-comp-id="div.8">
                        <div class=" text-center" data-comp-id="text.13"
                            style="font-weight: bold; font-size: 14px;">Vehicle Model</div>
                        <div class=" text-center" data-comp-id="text.14">Some text</div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.8">
                    <div class=" calm-bg" data-comp-id="div.9">
                        <div class=" text-center" data-comp-id="text.15"
                            style="font-weight: bold; font-size: 14px;">Vehicle No</div>
                        <div class=" text-center" data-comp-id="text.16">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.9">
                    <div class=" calm-bg" data-comp-id="div.10">
                        <div class=" text-center" data-comp-id="text.17"
                            style="font-weight: bold; font-size: 14px;">Driver Name</div>
                        <div class=" text-center" data-comp-id="text.18">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.10">
                    <div class=" calm-bg" data-comp-id="div.11">
                        <div class=" text-center" data-comp-id="text.19"
                            style="font-weight: bold; font-size: 14px;">Driver Contact</div>
                        <div class=" text-center" data-comp-id="text.20">Some text</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" positive-bg" data-comp-id="div.12" ng-if="data.tabs[1].selected">
            <div class="row" data-comp-id="row.5">
                <div class="col" data-comp-id="column.11">
                    <div class=" calm-bg" data-comp-id="div.13">
                        <div class=" text-center" data-comp-id="text.21">Some text</div>
                        <div class=" text-center" data-comp-id="text.22">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.12">
                    <div class=" calm-bg" data-comp-id="div.14">
                        <div class=" text-center" data-comp-id="text.23">Some text</div>
                        <div class=" text-center" data-comp-id="text.24">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.13">
                    <div class=" calm-bg" data-comp-id="div.15">
                        <div class=" text-center" data-comp-id="text.25">Some text</div>
                        <div class=" text-center" data-comp-id="text.26">Some text</div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.6">
                <div class="col" data-comp-id="column.14">
                    <div class=" calm-bg" data-comp-id="div.16">
                        <div class=" text-center" data-comp-id="text.27">Some text</div>
                        <div class=" text-center" data-comp-id="text.28">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.15">
                    <div class=" calm-bg" data-comp-id="div.17">
                        <div class=" text-center" data-comp-id="text.29">Some text</div>
                        <div class=" text-center" data-comp-id="text.30">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.16">
                    <div class=" calm-bg" data-comp-id="div.18">
                        <div class=" text-center" data-comp-id="text.31">Some text</div>
                        <div class=" text-center" data-comp-id="text.32">Some text</div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.7">
                <div class="col" data-comp-id="column.17">
                    <div class=" calm-bg" data-comp-id="div.19">
                        <div class=" text-center" data-comp-id="text.33">Some text</div>
                        <div class=" text-center" data-comp-id="text.34">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.18">
                    <div class=" calm-bg" data-comp-id="div.20">
                        <div class=" text-center" data-comp-id="text.35">Some text</div>
                        <div class=" text-center" data-comp-id="text.36">Some text</div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.19">
                    <div class=" calm-bg" data-comp-id="div.21">
                        <div class=" text-center" data-comp-id="text.37">Some text</div>
                        <div class=" text-center" data-comp-id="text.38">Some text</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.22">
            <div class="row" data-comp-id="row.8">
                <div class="col text-center" data-comp-id="column.20" style="padding: 0px;">
                    <div class="card" data-comp-display="card.1" data-comp-id="div.23">
                        <i class="icon ion-checkmark-circled" data-comp-id="icon.3"
                            style="font-size: 32px;"></i>
                        <div data-comp-id="text.39">My Approvals</div>
                    </div>
                </div>
                <div class="col text-center" data-comp-id="column.21" style="padding: 0px;">
                    <div class="card" data-comp-display="card.2" data-comp-id="div.24">
                        <i class="icon ion-android-time" data-comp-id="icon.4" style="font-size: 32px;"></i>
                        <div data-comp-id="text.40">Adhoc Request</div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.9">
                <div class="col text-center" data-comp-id="column.22" style="padding: 0px;">
                    <div class="card" data-comp-display="card.3" data-comp-id="div.25">
                        <i class="icon ion-android-pin" data-comp-id="icon.5" style="font-size: 32px;"></i>
                        <div data-comp-id="text.41">My Trips</div>
                    </div>
                </div>
                <div class="col text-center" data-comp-id="column.23" style="padding: 0px;">
                    <div class="card" data-comp-display="card.4" data-comp-id="div.26">
                        <i class="icon ion-android-hand" data-comp-id="icon.6" style="font-size: 32px;"></i>
                        <div data-comp-id="text.42">Check in</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>