<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Home</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row light-bg" data-comp-id="row.1" style="padding: 0px;">
                <div class="col text-center stable" data-comp-id="column.1"
                    ng-class="item.selected ? 'positive-bg' : 'stable-bg'"
                    ng-click="app.action('tabs', 'data.tabs[item].action', this)"
                    ng-repeat="item in data.tabs"
                    style="margin: 0px; padding: 10px 15px; border-right: 1px solid rgb(221, 221, 221);">
                    <i class="icon {{item.icon}} light" data-comp-id="icon.1" ng-if="item.selected"
                        style="font-size: 20px; float: left;"></i>
                    <i class="icon {{item.icon}} calm" data-comp-id="icon.2" ng-if="!item.selected"
                        style="font-size: 20px; float: left;"></i>
                    <div class=" light" data-comp-id="text.1" ng-bind="item.name"
                        ng-if="item.selected" style="font-weight: normal;">Pickup</div>
                    <div class=" calm" data-comp-id="text.2" ng-bind="item.name"
                        ng-if="!item.selected" style="font-weight: normal;">Tab 1</div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.2">
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2"></div>
                <div class="col" data-comp-id="column.4"></div>
                <div class="col" data-comp-id="column.10"></div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3"></div>
                <div class="col" data-comp-id="column.5"></div>
                <div class="col" data-comp-id="column.11"></div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.6"></div>
                <div class="col" data-comp-id="column.7"></div>
                <div class="col" data-comp-id="column.12"></div>
            </div>
        </div>
        <div data-comp-id="div.3">
            <div class="row" data-comp-id="row.5">
                <div class="col" data-comp-id="column.8"></div>
                <div class="col" data-comp-id="column.9"></div>
            </div>
        </div>
    </ion-content>
</ion-view>