<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class=" bar-positive"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1">Menu</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <div class="list" data-comp-id="ionic-list.1">
            <div class="item item-icon-left item-icon-right" data-comp-id="item.1"
                ng-click="app.action('menus', 'menulinks[item].link', this)"
                ng-repeat="item in data.menulinks">
                <i class="icon ion-person" data-comp-id="icon.1"></i>
                <div data-comp-id="text.2">Dashboard</div>
                <i class="icon ion-ios-arrow-right" data-comp-id="icon.2" style="font-size:32px"></i>
            </div>
            <div class="item item-icon-left item-icon-right" data-comp-id="item.5"
                ng-click="app.showMenu()">
                <i class="icon ion-log-out" data-comp-id="icon.9"></i>
                <div data-comp-id="text.6">Logout</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.10"
                    style="font-size: 24px;"></i>
            </div>
        </div>
    </ion-content>
</ion-view>